@import "tailwindcss";

:root {
  --background: #0f172a; /* Tailwind slate-900 */
  --foreground: #f8fafc; /* Tailwind slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
